<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	  xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
	<style>
		body {
			background-color: beige;
		}

		h1 {
			color: darkgoldenrod;
		}

		#a {
			position: absolute;
			top: 0px;
			right: 10px;
			font-size: 120%;
		}
	</style>

	<title>Admin</title>
</head>
<body>
	<h1 th:text="${'Hello, ' + username}">Hello, admin</h1>
	<p>Choose what you want to do.</p>
	<br/> <br/>

	<a th:href="@{/addAuction}">Add Auction</a>

	<br/><br/><br/>

	<a th:href="@{/addCategory}">Add Category</a>

	<br/><br/><br/>

	<a th:href="@{/catalog}">Check Auctions</a>

	<br/><br/><br/>

	<a th:href="@{/categories}">Check Categories</a>

	<br/><br/><br/>

	<a th:href="@{/deleteAuction}">Delete Auction</a>

	<br /><br /><br />
	<a th:href="@{/allUsers}">All Users</a>

	<br /><br /><br />
	<a th:href="@{/startAuction}">Start an Auction</a>

	<br /><br /><br />
	<a th:href="@{/approveAuctions}">See suggested Auctions By Users</a>
	<br /><br /><br />
	<a th:href="@{/bid}">Bidding page</a>



	<div id="a">
		<a th:href="@{/logout}">Log out</a>
	</div>
</body>
</html>