<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
    <style>
        body{background-color: beige;}
        label { display: inline-block; width: 210px; text-align: right;
        color:darkred;}
    </style>
</head>
<body>

<h1>Sign up</h1>

<img th:src="@{/bid.jpg}"/>

<form th:method="post">
    <p>Choose your log-in credentials</p>

    <label>Username</label>
    <input th:type="text" name="username" th:required="true"/> <br/> <br/>
    <label>Password</label>
    <input th:type="password" name="password" th:required="true"/> <br/> <br/>
    <label>Admin</label>
    <input th:type="checkbox" name="isAdmin"/> <br /> <br />

    <p>Enter your personal details</p>
    <label>First Name</label>
    <input th:type="text" name="firstName" th:required="true"/> <br/> <br/>
    <label>Last Name</label>
    <input th:type="text" name="lastName" th:required="true"/> <br/> <br/>
    <label>Email</label>
    <input th:type="text" name="email" th:required="true"/> <br/> <br/>
    <label>Telephone Number</label>
    <input th:type="text" name="telephoneNumber" th:required="true"/> <br/> <br/>

    <p>Enter your address</p>
    <label>Country</label>
    <input th:type="text" name="address.country" th:required="true"/> <br/> <br/>
    <label>City</label>
    <input th:type="text" name="address.city" th:required="true"/> <br/> <br/>
    <label>Street</label>
    <input th:type="text" name="address.street" th:required="true"/> <br/> <br/>

    <p>Enter your credit card details</p>
    <label>Credit Card Type</label>
    <input th:type="text" name="creditCardType" th:required="true"/>
    <label>Credit Card Number</label>
    <input th:type="text" name="creditCardNumber" th:required="true"/> <br/> <br/>
    <input th:type="submit"/>
</form>
</body>
</html>