<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Success</title>
    <style>
        body{
            background-color: bisque;
            font-size: x-large;
            color: darkred;
            font-style: italic;
            font-weight: bold;

        }
        a{
            font-size: xx-large;
        }
    </style>
</head>
<body>

<p th:text="${user.username+' welcome to our Auction House!'}"></p>
<p>Please log in to start bidding.</p>
<img th:src="@{/bidtable.jpg}"/>
<a th:href="@{/login}">Log In</a>
</body>
</html>
