<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Suggested Auctions</title>

    <style>


    body {
    background-color: beige;
    }

    a {
    font-size: 130%;
    }

    table {
    border-spacing: 20px;
    }

    th {
    color: darkgoldenrod;
    font-size: 120%;
    }

    td {
    color: blue;
    font-size: 110%;
    }

    #a {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 120%;
    }
    </style>

</head>
<body>

<form th:method="post">

<table>



            <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Start Date</th>
            <th>End Date</th>
            </thead>

    <tr th:each="auction : ${suggestedByUsersAuctions}">

                <td> <input type="checkbox" name="ids" th:value="${auction.id}"/> </td>
                <td th:text="${auction.name}">

                </td>

                <td th:text="${auction.price}">

                </td>

                <td th:text="${{#dates.format({auction.startDate}, 'dd-MM-yyyy')}}"></td>

            <td th:text="${{#dates.format({auction.endDate}, 'dd-MM-yyyy')}}"> </td>
            <td>
                <img th:src="${auction.image}" alt="image"/>
            </td>



            </tr>



        </table>

<br/> <br/>
<input th:type="submit" th:value="Approve"/>

</form>

</body>
</html>
